spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/academiadio?useTimezone=true&serverTimezone=UTC&useLegacyDate
    username: postgres
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format.sql: true